sRNA/Libraries/
sRNA/Results/
sRNA/Results_old/
sRNA/Additional_info/0*

RNA_seq/Libraries/
RNA_seq/Results/
RNA_seq/Results_old/
RNA_seq/Additional_info/Melon_salmon_ind/

Methylome/Libraries/
Methylome/Results

Integration_microRNA/Results/

Integration_methylome/Results/
Integration_methylome/Libraries/

Integration_MORE/Results/
Integration_MORE/Results_old/

# Ignore .log and .out files
*.log
*.out
*.fa
*.gff3
*.pdf
*.ebwt
*.txt
*.gtf
*.sam
