sRNA/Libraries/
sRNA/Results/

RNA_seq/Libraries/
RNA_seq/Results/
RNA_seq/Additional_info/Melon_salmon_ind/

Methylome/Libraries/
Methylome/Results/

# Ignore .log and .out files
*.log
*.out
*.fa
*.gff3
